[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==2.6.4"
pydantic-settings = "2.0.3"
fastapi = "==0.110.1"
asyncpg = "==0.29.0"
sqlalchemy = "==2.0.20"
uvicorn = "==0.34.0"
alembic = "==1.14.0"
aiokafka = "==0.11.0"
confluent-kafka = "==2.8.0"
httpx = "==0.28.1"
pytest= "==8.3.4"
pytest-asyncio = "==0.25.2"

[dev-packages]


[requires]
python_version = "3.12"